{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ serie.name }}{% endblock %}

{% block body %}

    <div class="serie-details">
        <div class="serie-poster">
            <img src="{{ asset('img/posters/series/' ~ serie.poster ) }}" alt="{{ serie.name }}">
        </div>
        <div class="serie-details-infos">
            <h2>{{ serie.name }}</h2>
            <div>User ratings: {{ serie.vote }}</div>
            <div>Categorized in: {{ serie.genres }}</div>
            <div>Serie status: {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate|date("Y-m-d") }} to {{ serie.lastAirDate|date("Y-m-d") }}</div>
            <div>{{ serie.overview|nl2br }}</div>
            <a type="link_button" href="{{ path('serie_edit', {'id':serie.id}) }}">Delete this serie</a>
            <a type="link_button" href="{{ path('serie_delete', {'id':serie.id}) }}">Delete this serie</a>
            <section class="seasons">
                <h3>Seasons</h3>
                {% for season in serie.seasons %}
                    <article>
                        <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt="{{ serie.name }}">
                        <div>
                            <h4>
                                Season #{{ season.number }}
                            </h4>
                            <div>{{ season.firstAirDate|date('Y-m-d') }}</div>
                            {% if season.overview %}
                                <div>{{ season.overview }}</div>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>

    </div>

{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
            url("{{ asset('img/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}