<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="Test">Test</a></li>
        <li><a href="{{ path('serie_list', {'page' : 1}) }}" title="All series">All series</a></li>
        <li><a href="{{ path('serie_create') }}" title="Add a new serie">Create</a></li>
        <li><a href="{{ path('season_create') }}" title="Add a new season">Create a season</a></li>
    </ul>
</nav>